@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root {
  height: 100%;
  margin: 0;
}

/* * {
  font-family:
    system-ui,
    sans-serif !important;
} */

/* Let Electron's title bar area feel native on Windows/macOS */
.titlebar-drag {
  -webkit-app-region: drag;
}

.titlebar-no-drag {
  -webkit-app-region: no-drag;
}


html,
body,
#root {
  height: 100%;
  margin: 0;
}


.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-icon,
.ant-menu-dark .ant-menu-item .ant-menu-title-content {
  color: #ffffff !important;
  font-size: small;
}

.ant-menu-sub li {
  padding-left: 30px !important;
}

/* Submenu container background (slightly different shade) */
.ant-menu-dark .ant-menu-sub.ant-menu-inline {
  background: #1e7240 !important;
  /* darker green-900-ish, adjust as you like */
}

/* Optional: give each child item its own background too */
.ant-menu-dark .ant-menu-sub.ant-menu-inline .ant-menu-item {
  background: #1e7240 !important;
}

/* Keep selected child item distinct */
.ant-menu-dark .ant-menu-sub.ant-menu-inline .ant-menu-item-selected {
  background: #16a34a !important;
  /* your primary green-600 */
}


.ant-form-item {
  margin-bottom: 8px!important;
}